# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio / VS Code
.vscode/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Environment files
.env
*.env.local

# Operating System Files
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini
